div.sidebar {
	border-right: 1px solid $borderColor;
	width: 200px;
	height: calc(100% - 37px);
	font-size: 14px;
	float: left;

	div.sidebar_item {
		&:first-of-type {
			padding-top: 7px;
		}

		box-sizing: border-box;
		width: 100%;
		padding: 0px 10px 7px 10px;
		cursor: pointer !important;
	}
}