div.titlebar {
	background: linear-gradient(0deg, #D2D0D2, #E8E6E8);
	border-bottom: 1px solid $borderColor;
	width: 100%;
	height: 37px;
	-webkit-app-region: drag;

	&.blur {
    background: #F6F6F6;
		border-color: $inactiveBorderColor;
  }
}
